{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'website/website.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaryaman Bhute - Website</title>
</head>
<body onload="toggle()">
    <div class="intro">
        <div id="heading">
            <div class="header" id="header"></div>
        </div>

        <div class="parent" id="subtitle">
            <p class="subtitleL" id="subtitleL">I am a</p>
            
            <div class="subtitleR" id="subtitleR"></div>
        </div>
    </div>



    <div class="sticky">
        <div id="navbar">
            <ul class="navparent">
                <li class="navitem" id="navlogo" style="background-color: white;">
                    <button onclick="toggle()"><img src="https://i.ibb.co/6JBKqxn/navlogo.png" class="navImg navlogo"></button>
                </li>
                <li class="navitem n" id="n"><a href="#aboutmeheader">About</a></li>
                <li class="navitem n" id="n"><a href="#education">Education</a></li>
                <li class="navitem n" id="n"><a href="#experiences">Experiences</a></li>
                <li class="navitem n" id="n"><a href="#projects">Projects</a> </li>
                <li class="navitem n" id="n"><a href="#skills">Skills</a> </li>
                <li class="navitem n" id="n"><a href="#linkbar">Contact</a> </li>
                
            </ul>
        </div>
    </div>
    





    <div id="aboutmeheader">
        <p class="bodyheader fade-in"><strong><span>&#8212;</span> About Me <span>&#8212;</span></strong></p>
    </div>

    <div class="parent" id="aboutme">
        <img src="https://i.ibb.co/xLb4nBK/IMG-0766-removebg-preview.png" class="aboutme fade-in">
        <p class="aboutme fade-in">Hello! My name is Aaryaman Bhute and I am a freshman at UCLA. I am pursuing a degree and a career
            in computer science. After writing my first "Hello World" program in 6th grade, I fell in love with computer science and
            building my own world within a sea of <strong>1</strong>s and <strong>0</strong>s. <br><br>Although I took computer science
            classes in high school, the majority of my experience comes from learning independantly from youtube channels like Tech With Tim
            and freeCodeCamp.org. Even this website is one of many projects I've completed. This website is a summary of what I have completed
            in my career so far. Even though I've just crossed the starting line, I hope this website will serve as a monument for my development
            as a computer scientist.
        </p>
    </div>

    <div id="education">
        <p class="bodyheader fade-in"><strong><span>&#8212;</span> Education <span>&#8212;</span></strong></p>
    </div>

    <div id="educationlist">
        <div class="parent" id="education1">
            <img src="https://i.ibb.co/JvQjmzN/chantillylogo.jpg" class="edImg fade-in">
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Chantilly High School</strong></p>
                <p class="descriptionRole"><strong>Graduate</strong></p>
                <p class="descriptionLocation"><strong>Chantilly, Virginia</strong></p>
                <p class="descriptionDates"><strong>August 2017 - June 2021</strong></p>
                <p class="descriptionContent">
                    Chantilly High School has been my home for the last 4 years where I've met students and teachers who I hope to 
                    remain in contact with even after my trip across the country to UCLA.
                    <br>
                    <br>
                    Extracurriculars: Science Olympiad, FTC Robotics, Red Cross Society, Math Honor Society, Computer Science Honor Society, 
                    and Boys Varsity Tennis.
                </p>
            </div>
        </div>




        <div class="parent" id="education2">
            <img src="https://i.ibb.co/YfRyxMZ/uclalogo.png" class="edImg fade-in">
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>University of California, Los Angeles</strong></p>
                <p class="descriptionRole"><strong>Major: Computer Science</strong></p>
                <p class="descriptionLocation"><strong>Los Angeles, California</strong></p>
                <p class="descriptionDates"><strong>Sept 2021 - June 2025</strong></p>
                <p class="descriptionContent">
                    As I begin my first year as a college freshman I am filled with anxiety and excitement. I am excited for new oppurtunities 
                    on campus, in classes, and new clubs to join. I am anxious about the jump from the east coast to the west coast and the 2,700 mile
                    flight to Los Angeles. As I start this new chapter in my life, I hope to be adding new projects and experiences here very soon!
                </p>
            </div>
        </div>





    
    <div id="experiences">
        <p class="bodyheader fade-in"><strong><span>&#8212;</span> Experiences <span>&#8212;</span></strong></p>
    </div>

    <div id="experiencelist">
        <div class="parent" id="experience1">
            <img src="https://i.ibb.co/RDhqBxq/novacspreplogo.png" class="expImg fade-in">
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>NOVA CS Prep</strong></p>
                <p class="descriptionRole"><strong>Senior Event Director</strong></p>
                <p class="descriptionLocation"><strong>Chantilly, Virginia</strong></p>
                <p class="descriptionDates"><strong>June 2018 - July 2020</strong></p>
                <p class="descriptionContent">
                    NOVA CS Prep is a non-profit organization dedicated to teaching programming to K-12 students.
                    As the Senior Event Director: I booked the venue for the annual 2-week summercamp, created the curriculum for and personally
                    taught the advanced python course which I created, designed and updated the company 
                    website, and doubled the amount of camp attendees in each year I worked there.
                    <br>
                    <br>
                    Being able to use my skills in and passion for computer science to give younger students the foundations they need
                    to jumpstart their careers in the tech world was an unparralleled experience. The future of the world always lands on the 
                    shoulders of the youth, and although I still have a lot to offer the world, I am glad I could contribute to the lives
                    of the youth in my community as well.
                </p>
            </div>
        </div>


        <div class="parent" id="experience2">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>CHS Science Olympiad</strong></p>
                <p class="descriptionRole"><strong>Vice-President/Technology and Engineering Captain</strong></p>
                <p class="descriptionLocation"><strong>Chantilly, Virginia</strong></p>
                <p class="descriptionDates"><strong>Sept 2018 - July 2021</strong></p>
                <p class="descriptionContent">
                    As the Technology and Engineering Captain I created and led workshops for my division outside of regular meeting times,
                    often spending several additional hours each week to prepare interactive and engaging projects. This allowed for 
                    the Tech/Engineering to be the top performing division for Chantilly High School at the regional competition.
                    <br>
                    <br>
                    As the Vice-President I continued to lead workshops and played a very close role with the Tech/Engineering division in 
                    addition to organizing the budget, leading team meetings, planning recruitment campaigns, and other responsibilities required 
                    for a smooth competition season.
                </p>
            </div>
            <img src="https://i.ibb.co/GsVNfkT/sciologo.png" class="expImg fade-in">
        </div>



        <div class="parent" id="experience3">
            <img src="https://i.ibb.co/2PPRWjx/knightrixlogo.png" class="expImg fade-in">
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>FTC Robotics - Knightrix</strong></p>
                <p class="descriptionRole"><strong>Programming Lead</strong></p>
                <p class="descriptionLocation"><strong>Chantilly, Virginia</strong></p>
                <p class="descriptionDates"><strong>Sept 2019 - March 2021</strong></p>
                <p class="descriptionContent">
                    As the programming lead I collaborated within the programming division and with the mechanical division to identify
                    objectives and assign the objective to the appropriate team member. I personally contributed to the computer vision 
                    program built to identify the "GAME BLOCKS". These were targets placed on the same field as our robot. With this 
                    created program, we were able to accurately identify a "GAME BLOCK" and use it to fulfill the game objectives.
                    <br>
                    <br>
                    Additionally, I worked to revamp the drive and intake mechanism to incorporate encoders to find the position of the 
                    robot on the field and the position of the intake mechanism in relation to the robot. My experience on the robotics 
                    team gave me a lot of experience programming in a team environment and making updates in a high-stress situation such 
                    as in the few minutes between competetive games.
                </p>
            </div>
        </div>



        <div class="parent" id="experience4">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>VASTS Summer Academy</strong></p>
                <p class="descriptionRole"><strong>System Manager</strong></p>
                <p class="descriptionLocation"><strong>Hampton, Virginia</strong></p>
                <p class="descriptionDates"><strong>June 2020 - July 2020</strong></p>
                <p class="descriptionContent">
                    This was a summer academy available to the high performing students selected from the year long VASTS course. The 
                    objective of this mission was to create a potential mission to mars in the future. As the system manager, I worked 
                    within my department to assign roles and responsibility to each of my team members. I also communicated to the 4 other
                    system managers to address the needs of all 150 members in the program under one of our teams.
                    <br>
                    <br>
                    In this camp I learned to serve in a leadership role towards a goal in a reletively unregulated manner. As there were 
                    few guidelines to the camp, collaboration was evermore important. I learned and improved several critical communication,
                    collaboration, and leadership skills over the 2-weeks I worked in the camp.
                </p>
            </div>
            <img src="https://i.ibb.co/x8vmQ5w/nasalogo.png" class="expImg fade-in">
        </div>


        
    </div>



    <div id="projects">
        <p class="bodyheader fade-in"><strong><span>&#8212;</span> Projects <span>&#8212;</span></strong></p>
    </div>

    <div id="projectlist">
        <div class="parent" id="project1">
            <img src="https://i.ibb.co/CVpzKBp/website.gif" class="proImg fade-in">
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Personal Website</strong></p>
                <p class="descriptionRole"><strong>Skills Used: HTML, CSS, Javascript, Python, and Django</strong></p>
                <p class="descriptionDates"><strong>Developed: June 2021</strong></p>
                <p class="descriptionContent">
                    <strong>Objective:</strong> Create a method to track and publish my career/achievements
                    <br>
                    <br>
                    With the free time I found myself with after graduating high school this year, I was working on updating my resume 
                    when I decided that creating a website would be a more interactive way to portray my accomplishments while doubling 
                    as a resume item itself.
                    <br>
                    <br>
                    I already had experience in all the skills mentioned above, however I was still able to increase my knowledge in 
                    Django and Javascript while creating an interactive website with a minimalist design. This project has inspired me to 
                    pursue web development further!
                </p>
            </div>
        </div>
    </div>


    <div id="skills">
        <p class="bodyheader fade-in"><strong><span>&#8212;</span> Skills <span>&#8212;</span></strong></p>
    </div>

    <div id="skilllist" class="skilllist">
        <div class="parent" id="skillset1">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Python: </strong></p>
            </div>

            <img src="https://i.ibb.co/2hCD4Wb/5stars.png" class="skillImg fade-in">

            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Java: </strong></p>
            </div>

            <img src="https://i.ibb.co/2hCD4Wb/5stars.png" class="skillImg fade-in">
        </div>
        <div class="parent" id="skillset2">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Javascript: </strong></p>
            </div>

            <img src="https://i.ibb.co/dprYZg4/4stars.png" class="skillImg fade-in">

            <div class="description fade-in">
                <p class="descriptionTitle"><strong>Django: </strong></p>
            </div>

            <img src="https://i.ibb.co/dprYZg4/4stars.png" class="skillImg fade-in">
        </div>
        <div class="parent" id="skillset3">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>HTML: </strong></p>
            </div>

            <img src="https://i.ibb.co/2hCD4Wb/5stars.png" class="skillImg fade-in">

            <div class="description fade-in">
                <p class="descriptionTitle"><strong>CSS: </strong></p>
            </div>

            <img src="https://i.ibb.co/dprYZg4/4stars.png" class="skillImg fade-in">
        </div>
        <div class="parent" id="skillset4">
            
            <div class="description fade-in">
                <p class="descriptionTitle"><strong>C++: </strong></p>
            </div>

            <img src="https://i.ibb.co/JvD1B54/3stars.png" class="skillImg fade-in">

            <div class="description fade-in">
                <p class="descriptionTitle"><strong>C#: </strong></p>
            </div>

            <img src="https://i.ibb.co/JvD1B54/3stars.png" class="skillImg fade-in">
        </div>
    </div>




    <div class="linkbar" id="linkbar">
        <p class="bodyheader fade-in" style="padding-top: 20px; color: white;"><strong><span>&#8212;</span> Contact Me <span>&#8212;</span></strong></p>
        <p class="bodyheader fade-in" style="padding-top: 5px;font-size: 1.3vw; color: white;"><strong>I'd love to speak with you about my experience, projects, or anything else!</span></strong></p>
        <div class="linkbaritem" style="padding-bottom: 30px;">
            <a href="https://github.com/AaryamanBhute">
                <img src="https://i.ibb.co/NLKHc06/github.png" style="width: 3.25vw; filter: brightness(0) invert(1);" class="linkImg">
            </a>
            <a href="https://www.instagram.com/aaryaman_bhute/">
                <img src="https://i.ibb.co/bLF92TB/instagram.png" style="width: 3.25vw; filter: brightness(0) invert(1);" class="linkImg">
            </a>
            <a href="mailto:aryamanbhute@gmail.com">
                <img src="https://i.ibb.co/26GB5nQ/email.png" style="width: 3.25vw; filter: brightness(0) invert(1);" class="linkImg">
            </a>
            <a href="https://www.linkedin.com/in/aaryaman-bhute">
                <img src="https://i.ibb.co/PFWYm3g/linkedin.png" style="width: 3.25vw; filter: brightness(0) invert(1);" class="linkImg">
            </a>
        </div>
    </div>
    <!-- Scripts to animate header and subtitle -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="{% static 'website/loadHeader.js' %}"></script>  
    <script src="{% static 'website/loadSubtitle.js' %}"></script>
    <script src="{% static 'website/loadSubInitial.js' %}"></script>  
    <script src="{% static 'website/fadein.js' %}"></script>
    <script>
        function toggle(){
            var x = document.getElementsByClassName("n");
            Array.prototype.forEach.call(x, element => {
                if(element.style.visibility == "hidden"){
                    element.style.visibility = "visible";
                    element.style.zIndex = "1";
                }else{
                    element.style.visibility = "hidden";
                    element.style.zIndex = "-1";
                }
                });
        }
    </script>
    
</body>
</html>